body.dark-mode {
  background-color: #202C36;
}

.dark-mode {
  .header, 
  input, 
  .search-wrapper input, 
  .dropdown-toggle,
  .dropdown-menu,
  .countryItem,
  .borderBtn,
  .backBtn {
    background-color: #2B3844;
  }

  .card-details-info h1,
  .header h1,
  input::placeholder, 
  .dropdown-toggle,
  .dropdown-menu,
  .card-info h2, 
  .card-info p,
  .borderBtn,
  .backBtn,
  .card-detail-first,
  .card-detail-second,
  .border-countries-content h4,
  .dark-mode-btn,
  .no-border-cntry p {
    color: #fff;
  }

  .dropdown-menu li:hover {
    background-color: #49525a;
  }

  input {
    color: #fff;
  }
}